body {
    font-family: 'Poppins', sans-serif;
    color: #F7F7E9;
    background-color: #1A1716;
    scroll-behavior: smooth;
}
.newnav {
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: #1A1716;
    border-bottom: #F7F7E9 1px solid;
}

.navbar-brand {
    font-family: 'Yeseva One', serif;
    font-size: 28px;
    font-weight: 400;
    color: #F7F7E9;
    letter-spacing: 5px;
    margin-right: 0;
}

.newbtn {
    letter-spacing: 2px;
    font-size: 18px;
    background-color: #c29503;
    border: 0px;
    color: #F7F7E9;
    border-radius: 5px;
}

.nlist {
    letter-spacing: 2px;
    color: #F7F7E9;
    margin-right: 20px;
    font-size: 18px;
}
.nlist:hover {
    color: #f7f7e9b2;
}


.gbr-container {
    position : relative;
    
}

.gbr {
    /*
    display: flex;
    width: 100%;
    height: 90vh;
    
    background-position: center;  Center the image 
    background-repeat: no-repeat; /* Do not repeat the image 
    background-size: cover;
    background-image: url("depan.jpg");
    padding-right: 5vw;
    padding-left: 5vw;
    opacity: 0.5;

    */

}

.logo {
    width: 43px;
    object-fit: cover;
    border-radius: 50%;
}

.gambar-cover {
    width: 100%;
    object-fit: cover;
    height: 90vh;
    opacity: 0.3;
    
}

.px-3 {
    position: absolute;
    bottom: 30vh;
    align-items: flex-end;
}

.bawaheventium {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 2px;
    color: #d6d6cb;
}

.teksjudul-container {
    padding-right: 5vw;
    padding-left: 5vw;
}

.judul {
    font-family: 'Yeseva One', serif;
    font-size: 5rem;
    font-weight: 500;
    color: #F7F7E9;
    letter-spacing: 5px;
    
}

@media screen and (max-width: 700px) {
    .judul {
        font-size: 12vw;
    }

    .gambar-cover {
        height: 92vh;
    }
    .px-3 {
        bottom: 40vh; 
    }

    .kontenabout-container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .aboutgambar-container {
        margin-bottom: 5vw;
    }


  }

.subjudul {
    font-family: 'Yeseva One', serif;
    font-size: 2.8em;
    font-weight: 400;
    letter-spacing: 7px;
    width: fit-content;
    border-bottom: 1px solid #F7F7E9;
    margin-bottom: 5vw;
}




.sub-container {
    margin-top: 5vw;
    margin-bottom: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    
}

.subabout-container, .suboffers-container{
    padding-left: 16px;
    padding-right: 16px;
    
}


.sub-container-service {
    margin-top: 5vw;
    margin-bottom: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
    
}

span {
    color: #F7F7E9;
}

.kontenabout {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
}

.kontenabout-container {
    display: flex;
}

.aboutgambar-container {
    width: 80%;
    margin-left: 10vw;
}

.gambarabout {
    width: 100%;
    object-fit: cover;
    margin-top: 2vw;
}

.footer-container {
    width: 100%;
    height: 70vh;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #2e2922;
}


.kontencard {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #F7F7E9;
}

.card-container {
    position : relative;
    height:  32vw;
    
}

.newcardimg {
    object-fit: cover;
    height: 100%;
    opacity: 0.3;
    
}


.card-container-in {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2922;
}

.newcard-title {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    border-top: 1px solid #c29503;
    border-bottom: 1px solid #c29503;
    padding: 5px;
}

.juduloffers, .judulservice, .judulchoose, .quote{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


@media screen and (max-width: 500px) {
    .judulservice {
        margin-left: 30px;
        margin-right: 30px;
    }
    
  }


.offer-card {
    background-color: #50473b;
    color: #F7F7E9;
    
}

.pricing-card-title {
    font-family: 'Playfair Display', serif;
}

.card-header {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

.newbtn-offer {
    color: #fdeea8;
    background-color: transparent;
    border-top: #dbd9d5 solid 2px;
    border-bottom: #dbd9d5 solid 2px;
    border-radius: 0;
}

.choose-card-title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.choose-card-text {
    font-size: 20px;
}

.choose-card-container {
    display: flex;
    align-items: center;
    justify-content:space-around;

}

.choose-card {
    margin-right: 16px;
    margin-left: 16px;
    background-color: #fdf2bf;
}

.quote {
    font-family: 'Playfair Display', serif;
    font-size: larger;
    font-style: italic;
    margin: 100px;
}

.sub-container-choose {
    background-color: #2e2922;
    padding-top: 6vw;
    padding-bottom: 4vw;
}